# general purpose
numpy
#scikit-learn>=1,<2

# SBert (semantics)
sentence-transformers==2.2.0

# node-dist, pos tags, morphosyntax features
torch
trankit==1.1.1
node-distance==0.1.0

# IPA consonant clusters (phonetics)
epitran==1.18
ipasymbols==0.0.1

# SMOR (morphology)
sfst-transduce==1.0.1

# COW, lemma frequency
nltk>=3.7,<4
pandas==1.3.5

# fixes
#protobuf<=3.20.*
