# general purpose
numpy>=1.21.6,<2

# SBert (semantics)
sentence-transformers>=2.2.0,<3
keras-hrp>=0.1.0,<1

# node-dist, pos tags, morphosyntax features
torch>=1,<2
trankit>=1.1.1,<2
node-distance>=0.1.0,<1

# IPA consonant clusters (phonetics)
epitran>=1.18,<2
ipasymbols>=0.0.1,<1

# SMOR (morphology)
sfst-transduce>=1.0.1,<2

# COW, lemma frequency
nltk>=3.7,<4
pandas>=1.3.5,<2
